<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Vue -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/3.4.15/vue.global.min.js'
        integrity='sha512-YX1AhLUs26nJDkqXrSgg6kjMat++etdfsgcphWSPcglBGp/sk5I0/pKuu/XIfOCuzDU4GHcOB1E9LlveutWiBw=='
        crossorigin='anonymous'></script>
    <!-- Axios -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js'
        integrity='sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=='
        crossorigin='anonymous'></script>
    <!-- File JS -->
    <script defer src="js/script.js"></script>
</head>

<body>
    <div id="root">
        <input type="number" placeholder="Quante email vuoi?" v-model.trim="inputNumber">
        <button @click="generateList"> Crea Email</button>
        <div v-if="emailList.length < maxNumber">IN CARICAMENTO</div>
        <ul v-else>
            <li v-for="email in emailList">
                {{email.response}}
            </li>
        </ul>
    </div>
</body>

</html>